{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

  <!-- Navigation -->
  <div class="container-fluid">
    <div class="row">
      <div class="mt-4">
        <nav>
              <div>
                  <ul class="nav nav-tabs">
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'home' %}">Home</a>
                      </li>
                      {% if user.is_authenticated %}
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                      </li>
                      {% else %}
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{% url 'account_login' %}">Login</a>
                      </li>
                      {% endif %}
                  </ul>
              </div>
        </nav>
      </div>  
    </div>
  </div>

<h1>{% trans "Sign In" %}</h1>

<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}
