
/* Body */
body {
    background-image: url("https://res.cloudinary.com/marcos-dias/image/upload/v1653595422/whats-for-dinner-background_dairtr.jpg");
    background-color:orange;
}

/* Headings */
h1 {
    color: deepskyblue;
    text-shadow: 0.2rem 0.2rem 0.4rem #000000;
}

/* Message to the user */
strong {
    color: red;
    background-color: cornsilk;
}

.nav-link {
    text-decoration: none;
    color:cornsilk;
}

.recipe-link, a {
    text-decoration: none;
    color:maroon;
}

.nav-tabs {
    --bs-nav-tabs-link-active-color:coral;
}

.active {
    font-weight: bold;
    color: coral;
}

.recipe-link:hover, .nav-link:hover, a:hover {
    color: coral;
}

.highlighted-1 {
    border: 0.3rem solid orange;
    opacity: 0.9;
}

.highlighted-2 {
    border: 0.4rem double coral
}

.card-type-1 {
    opacity: 0.9;
}

.btn-primary {
    --bs-btn-color: cornsilk;
    --bs-btn-bg: deepskyblue;
    --bs-btn-border-color: deepskyblue;
    --bs-btn-hover-color: cornsilk;
    --bs-btn-hover-bg:dodgerblue;
    --bs-btn-hover-border-color: dodgerblue;
    --bs-btn-focus-shadow-rgb: "";
    --bs-btn-active-color: cornsilk;
    --bs-btn-active-bg: deepskyblue;
    --bs-btn-active-border-color: deepskyblue;
    border: 0.2rem solid deepskyblue;
}

.button:active {
    border-left-style: solid;
    border-top-style: solid;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
}
