body {
    color:green;
}

.recipe-link, .nav-link, a {
    text-decoration: none;
    color: green;
}

.recipe-link:hover, .nav-link:hover, a:hover {
    color: orange;
}

.highlighted {
    border: 0.1rem solid orange
}
