body {
    color:maroon; 
}

h1 {
    color: deepskyblue;
}

strong {
    color: red;
    /* font-weight: bold; */
}

.recipe-link, .nav-link, a {
    text-decoration: none;
    color: maroon;
}

.nav-tabs {
    --bs-nav-tabs-link-active-color:coral;
}

.active {
    font-weight: bold;
    color: coral;
}

.recipe-link:hover, .nav-link:hover, a:hover {
    color: coral;
}

.highlighted-1 {
    border: 0.2rem solid orange
}

.highlighted-2 {
    border: 0.4rem double coral
}

body {
    background-color:lightcyan
}

.btn-primary {
    --bs-btn-color: lightcyan;
    --bs-btn-bg: deepskyblue;
    --bs-btn-border-color: deepskyblue;
    --bs-btn-hover-color: lightcyan;
    --bs-btn-hover-bg: deepskyblue;
    --bs-btn-hover-border-color: orange;
    --bs-btn-focus-shadow-rgb: 255,165,0;
    --bs-btn-active-color: lightcyan;
    --bs-btn-active-bg: deepskyblue;
    --bs-btn-active-border-color: deepskyblue;
    border: 0.2rem solid
}
