{% extends 'base_home.html' %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="mt-4">
      <h1>Delete Recipe</h1>
    </div>
  </div>
</div>

{% if user.is_authenticated and user == recipe.author %}

  <div class="container-fluid">
    <div class="row">
      <div class="mt-4">
        <strong>Are you sure you want to delete this recipe?</strong>
        <form method="post"">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary mt-4">Delete</button>
          <a href="{% url 'home' %}" class="btn btn-primary mt-4">Cancel</a>
        </form>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="mt-4">
        <form method=post>
          <div class="row">
            <div class="col">
              <label for="id_title">Title</label>
              <input readonly type="text" class="form-control" id="id_title" name="title" value="{{ recipe.title }}"> 
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <label for="id_short_description">Short Description</label>
              <textarea readonly type="text" class="form-control" id="id_short_description" name="short_description" rows="3">{{ recipe.short_description }}</textarea>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-4">
              <label for="id_ingredients">Ingredients</label>
              <textarea readonly type="text" class="form-control" id="id_ingredients" name="ingredients" rows="6">{{ recipe.ingredients }}</textarea>
            </div>
            <div class="col-sm-8 mt-4 mt-sm-0">
              <label for="id_method">Method</label>
              <textarea readonly type="text" class="form-control" id="id_method" name="method" rows="6">{{ recipe.method }}</textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% else %}
  <div class="container-fluid">
    <div class="row">
      <div class="mt-4">
        <strong>You can only delete recipes you created.</strong>
      </div>
    </div>
    <div class="row">
      <div class="col mt-4">
        <a href="{% url 'home' %}"><button type="button" class="btn btn-primary">Back to Recipe List</button></a>  
      </div>
    </div>
  </div>
{% endif %}

{% endblock content %}