{% extends "base_home.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="mt-4">
      <h1>What's for Dinner?</h1>
    </div>
  </div>
</div>

{% if not user.is_authenticated %}
<div class="container-fluid">
  <div class="row">
    <div class="mt-4">
      <div class="card highlighted-2">
        <div class="card-body">
          <h4 class="card-title">Not sure what to cook for dinner tonight?</h4>
          <p class="card-text">This is not a problem anymore. Just browse our list of recipes, shared by people like you, and pick up one for you to cook.</p>
          <p class="card-text">You can also share your favorite recipes with us!</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container-fluid">
  <div class="row">
    <div class="col mt-4">
      {% if user.is_authenticated %}
        <a href="{% url 'create_recipe' %}" class="btn btn-primary">Create Recipe</a>
      {% endif %}
    </div>
  </div>
</div>

<!-- Recipe list -->
<div class="container-fluid">
  <div class="row">
    {% for recipe in recipe_list %}
      <div class="col-xs-12 col-sm-4">
        <a href="{% url 'recipe' recipe.slug  %}" class="recipe-link">
          <div class="card mt-4 highlighted-1">
            <div class="card-header">
              <h5 class="card-title">{{ recipe.title }}</h5>
            </div>
            <div class="card-body">
              <p class="card-text">{% autoescape off %}{{ recipe.short_description }}{% endautoescape %}</p>
              {% if user.is_authenticated and user == recipe.author %}
                <a href="{% url 'edit_recipe' recipe.slug  %}" class="mt-4 btn btn-primary">Edit</a>
                <a href="{% url 'delete_recipe' recipe.slug  %}" class="mt-4 btn btn-primary">Delete</a>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
    {% endfor%}
  </div>
</div>

<!-- Pagination -->
{% if is_paginated %}

<div class="container-fluid">
  <div class="row">
    <div class="mt-4">
      <div class="p-2 bg-light">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&nbsp &laquo; &nbsp</a></li>
          {% else %}
            <li class="disabled"><span>&nbsp &laquo; &nbsp</span></li>
          {% endif %}
          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="active"><span>&nbsp{{ i }}&nbsp<span class="sr-only"></span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">&nbsp{{ i }}&nbsp</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&nbsp &raquo; &nbsp</a></li>
          {% else %}
            <li class="disabled"><span>&nbsp &raquo; &nbsp</span></li>
          {% endif %}
        </ul>
      </div>
    </div>  
  </div>
</div>

{% endif %}

{% endblock content %}