{% extends "base_home.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="mt-4">
      <h1>{{ recipe.title }}</h1>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="card highlighted-1">
      <div class="container-fluid">
        <div class="row mt-3">
              <div class="row">
                <div class="col">
                  <label for="id_short_description">Short Description</label>
                  <textarea readonly type="text" class="form-control" id="id_short_description" name="short_description" rows="3">{{ recipe.short_description }}</textarea>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <label for="id_ingredients">Ingredients</label>
                  <textarea type="text" class="form-control" id="id_ingredients" name="ingredients" rows="10">{{ recipe.ingredients }}</textarea>
                </div>
                <div class="col-sm-6 mt-4 mt-sm-0 mb-sm-3">
                  <label for="id_method">Method</label>
                  <textarea type="text" class="form-control" id="id_method" name="method" rows="10">{{ recipe.method }}</textarea>
                </div>
                <div class="col-sm-2 mt-4 mb-3">            
                    <div class="row">
                      <div class="col">
                        <a href="{% url 'home' %}"><button type="button" class="btn btn-primary btn-right">Back to Recipe List</button></a>
                      </div>
                    </div>
                </div>
              </div>
        </div>
      </div>
  </div>
</div> 

{% endblock content %}